# Created by https://www.gitignore.io/api/vagrant
# Edit at https://www.gitignore.io/?templates=vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box

## hosts.ini
*.ini  

## password_vault.yml
pass_vault.yml

## commands.txt
#commands.txt

# End of https://www.gitignore.io/api/vagrant